<!--
app.component.css, app.component.html, and app.component.ts are the main component files.
Anything in here will be consistent across the whole web app (e.g.: menu bar, header, footer, etc)
-->
<!-- Many components used from PrimeNG library (PrimeNG, 2025) -->
<div class="card">
  <!-- Menu bar, persistent -->
  <p-menubar [model]="items">
    <ng-template #item let-item let-root="root">
      <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.routerLink">
        <i *ngIf="item.icon" [class]="item.icon" class="mr-2"></i>
        <span>{{ item.label }}</span>
        <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
        <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
        <i *ngIf="item.items" [ngClass]="['ml-auto pi', root ? 'pi-angle-down' : 'pi-angle-right']"></i>
      </a>
    </ng-template>

    <!-- Welcome Name when logged in -->
    <ng-template #end>
      <div class="flex items-center gap-2">
        <span *ngIf="isLoggedIn" class="text-base mr-3">Welcome, {{ username }}</span>
        <app-signup *ngIf="!isLoggedIn"></app-signup>
        <!-- Show additional menu items when logged in -->
        <app-login (loginStatusChange)="updateMenuItems()"></app-login>
      </div>
    </ng-template>

  </p-menubar>
</div>

<router-outlet></router-outlet>
